In [50]:
import pandas as pd
import numpy as np
from math import log2

In [63]:
dictCollAllSame = [{"color" : "black", "shape" : "circle", "Token Id" : tokenNumber} for tokenNumber in range(51, 100)]

In [64]:
dictCollDifferentColor = [{"color" : str(tokenNumber+100), "shape" : "square", "Token Id" : tokenNumber} for tokenNumber in range(1, 51)]

In [65]:
dictUnique = [{"color" : "black", "shape" : "triangle", "Token Id" : 100}]

In [66]:
data = pd.DataFrame(dictCollDifferentColor + dictCollAllSame +dictUnique)

In [67]:
data

    color     shape  Token Id
0     101    square         1
1     102    square         2
2     103    square         3
3     104    square         4
4     105    square         5
..    ...       ...       ...
95  black    circle        96
96  black    circle        97
97  black    circle        98
98  black    circle        99
99  black  triangle       100

[100 rows x 3 columns]

In [68]:
def rarityToolsScore(traits_data):
    tokenIdColumn = traits_data['Token Id']
    
    try:
        traits_data = traits_data.drop('Token ID', axis=1)
    except:
        pass 
    
    traits_data = traits_data.drop('Token Id', axis=1)
    
    if not('Trait count' in traits_data.columns):
        traits_data['Trait count'] = traits_data.count(axis=1)
    
    traits_data = traits_data.replace(np.nan, "None")
    rarity_values = {}
    for label in traits_data.columns:
        trait_counts = traits_data[label].value_counts()
        total_count = len(traits_data)
        rarity = 1 / (trait_counts / total_count)
        rarity_values[label + ' rarity score'] = traits_data[label].map(rarity)

    rarityScores = pd.DataFrame(rarity_values)
    rarityScores['Rarity score'] = rarityScores.sum(axis="columns")
    rarityScores['Token Id'] = tokenIdColumn
    return rarityScores

In [69]:
def openRarityScore(traitsData):
    tokenIdColumn = traitsData['Token Id']
    
    try:
        traitsData = traitsData.drop('Token ID', axis=1)
    except:
        pass 
    
    traitsData = traitsData.drop('Token Id', axis=1)
    
    if not('Trait count' in traitsData.columns):
        traitsData['Trait count'] = traitsData.count(axis=1)
    
    traitsData = traitsData.replace(np.nan, "None")
    traitsData['Unique'] = 0
    informationValues = {}
    for label in traitsData.drop('Unique', axis=1).columns:
      
        traitsCount = traitsData[label].value_counts()
        totalCount = len(traitsData[label])
#         print(traitsCount)
        # unique values for the column
        uniqueValues = traitsCount[traitsCount==1].index.to_list()
        # indexes with these unqiue values
        uniqueIndexes = traitsData[traitsData[label].isin(uniqueValues)].index.to_list()
        traitsData.loc[uniqueIndexes, 'Unique'] += 1
        
        prob = traitsCount / totalCount
        logProb = (1/prob).apply(log2)
        entrophy =sum(prob*logProb)
        print(entrophy)
#         informationValues[label + ' information value'] = traitsData[label].map(logProb/entrophy)
        informationValues[label + ' information value'] = traitsData[label].map(logProb)
#     display(traitsData)
    rarityScores = pd.DataFrame(informationValues)
    rarityScores['Unique'] = traitsData['Unique']
    rarityScores['Rarity score'] = rarityScores.sum(axis="columns")
    rarityScores['Token Id'] = tokenIdColumn
    
    return rarityScores

In [70]:
def openRarityScore(traitsData):
    tokenIdColumn = traitsData['Token Id']
    
    try:
        traitsData = traitsData.drop('Token ID', axis=1)
    except:
        pass 
    
    traitsData = traitsData.drop('Token Id', axis=1)
    
    if not('Trait count' in traitsData.columns):
        traitsData['Trait count'] = traitsData.count(axis=1)
    
    traitsData = traitsData.replace(np.nan, "None")
    traitsData['Unique'] = 0
    informationValues = {}
    enthropy = 0
    for label in traitsData.drop('Unique', axis=1).columns:
        traitsCount = traitsData[label].value_counts()
        totalCount = len(traitsData[label])
#         print(traitsCount)
        # unique values for the column
        uniqueValues = traitsCount[traitsCount==1].index.to_list()
        # indexes with these unqiue values
        uniqueIndexes = traitsData[traitsData[label].isin(uniqueValues)].index.to_list()
        traitsData.loc[uniqueIndexes, 'Unique'] += 1
        
        prob = traitsCount / totalCount
        logProb = (1/prob).apply(log2)
        enthropy += (prob*logProb).sum()
        informationValues[label + ' information value'] = traitsData[label].map(logProb)
#     display(traitsData)
    rarityScores = pd.DataFrame(informationValues)
    rarityScores = rarityScores.multiply(1/enthropy)
    rarityScores['Unique'] = traitsData['Unique']
    rarityScores['Rarity score'] = rarityScores.sum(axis="columns")
    rarityScores['Token Id'] = tokenIdColumn
    print(enthropy)
    return rarityScores

In [71]:
openRarityScore(data)

4.892648366158272

,color information value,shape information value,Trait count information value,Unique,Rarity score,Token Id
0,1.357926,0.204388,0.0,1,2.562315,1
1,1.357926,0.204388,0.0,1,2.562315,2
2,1.357926,0.204388,0.0,1,2.562315,3
3,1.357926,0.204388,0.0,1,2.562315,4
4,1.357926,0.204388,0.0,1,2.562315,5
...,...,...,...,...,...,...
95,0.204388,0.210345,0.0,0,0.414734,96
96,0.204388,0.210345,0.0,0,0.414734,97
97,0.204388,0.210345,0.0,0,0.414734,98
98,0.204388,0.210345,0.0,0,0.414734,99
99,0.204388,1.357926,0.0,1,2.562315,100

In [72]:
0.961172 /3.7509192653692605

0.2562497169358235

In [73]:
a = openRarityScore(data)

4.892648366158272

In [ ]:
def caclulateScores(traitsData):
  tokenNumber = len(traitsData)
  traitScores = []
  for label in traitsData.columns:
    scores = []
    print('---------\n' + label+'\n')
    scoresLabels = traitsData[label].value_counts().index.tolist()
    traitsCount = traitsData[label].value_counts()
    
    for i in range(len(traitsCount)):
      scoresForI = []
      for j in range(len(traitsCount)):
        if i != j:
          scoresForI.append(traitsCount[j] / (traitsCount[i] + traitsCount[j]))
      # if we need -1/2
      scoresForI = np.array(scoresForI)
      scores.append(np.average(scoresForI-1/2))
      # scores.append(np.average(scoresForI))
    normalization = np.sum(np.multiply(scores, traitsCount)) / np.sum(traitsCount)
    scores /= normalization
    # scores = scores.tolist()
    traitScores.append(dict(zip(scoresLabels, scores)))
  return traitScores

In [80]:
def openRarityScore(traitsData):
    tokenIdColumn = traitsData['Token Id']
    
    try:
        traitsData = traitsData.drop('Token ID', axis=1)
    except:
        pass 
    
    traitsData = traitsData.drop('Token Id', axis=1)
    
    if not('Trait count' in traitsData.columns):
        traitsData['Trait count'] = traitsData.count(axis=1)
    
    traitsData = traitsData.replace(np.nan, "None")
    traitsData['Unique'] = 0
    informationValues = {}
    enthropy = 0
    for label in traitsData.drop('Unique', axis=1).columns:
        traitsCount = traitsData[label].value_counts()
        totalCount = len(traitsData[label])
#         print(traitsCount)
        # unique values for the column
        uniqueValues = traitsCount[traitsCount==1].index.to_list()
        # indexes with these unqiue values
        uniqueIndexes = traitsData[traitsData[label].isin(uniqueValues)].index.to_list()
        traitsData.loc[uniqueIndexes, 'Unique'] += 1
        
        prob = traitsCount / totalCount
        logProb = (1/prob).apply(log2)
        display(pd.DataFrame(logProb))
        enthropy += (prob*logProb).sum()
        informationValues[label + ' information value'] = traitsData[label].map(logProb)
#     display(traitsData)
    rarityScores = pd.DataFrame(informationValues)
    rarityScores = rarityScores.multiply(1/enthropy)
    rarityScores['Unique'] = traitsData['Unique']
    rarityScores['Rarity score'] = rarityScores.sum(axis="columns")
    rarityScores['Token Id'] = tokenIdColumn
    print(enthropy)
    return rarityScores

In [81]:
openRarityScore(data)

          color
black  1.000000
139    6.643856
129    6.643856
130    6.643856
131    6.643856
132    6.643856
133    6.643856
134    6.643856
135    6.643856
136    6.643856
137    6.643856
138    6.643856
140    6.643856
127    6.643856
141    6.643856
142    6.643856
143    6.643856
144    6.643856
145    6.643856
146    6.643856
147    6.643856
148    6.643856
149    6.643856
150    6.643856
128    6.643856
101    6.643856
102    6.643856
113    6.643856
103    6.643856
104    6.643856
105    6.643856
106    6.643856
107    6.643856
108    6.643856
109    6.643856
110    6.643856
111    6.643856
112    6.643856
114    6.643856
125    6.643856
115    6.643856
116    6.643856
117    6.643856
118    6.643856
119    6.643856
120    6.643856
121    6.643856
122    6.643856
123    6.643856
124    6.643856
126    6.643856

             shape
square    1.000000
circle    1.029146
triangle  6.643856

   Trait count
2          0.0

4.892648366158272

,color information value,shape information value,Trait count information value,Unique,Rarity score,Token Id
0,1.357926,0.204388,0.0,1,2.562315,1
1,1.357926,0.204388,0.0,1,2.562315,2
2,1.357926,0.204388,0.0,1,2.562315,3
3,1.357926,0.204388,0.0,1,2.562315,4
4,1.357926,0.204388,0.0,1,2.562315,5
...,...,...,...,...,...,...
95,0.204388,0.210345,0.0,0,0.414734,96
96,0.204388,0.210345,0.0,0,0.414734,97
97,0.204388,0.210345,0.0,0,0.414734,98
98,0.204388,0.210345,0.0,0,0.414734,99
99,0.204388,1.357926,0.0,1,2.562315,100

In [101]:
6.643856 / 3.7509192653692605

1.7712607310266764

In [ ]:
0.961172 /

In [ ]:
def caclulateScores(traitsData):
  tokenNumber = len(traitsData)
  traitScores = []
  for label in traitsData.columns:
    scores = []
    print('---------\n' + label+'\n')
    scoresLabels = traitsData[label].value_counts().index.tolist()
    traitsCount = traitsData[label].value_counts()
    
    for i in range(len(traitsCount)):
      scoresForI = []
      for j in range(len(traitsCount)):
        if i != j:
          scoresForI.append(traitsCount[j] / (traitsCount[i] + traitsCount[j]))
      # if we need -1/2
      scoresForI = np.array(scoresForI)
      scores.append(np.average(scoresForI-1/2))
      # scores.append(np.average(scoresForI))
    normalization = np.sum(np.multiply(scores, traitsCount)) / np.sum(traitsCount)
    scores /= normalization
    # scores = scores.tolist()
    traitScores.append(dict(zip(scoresLabels, scores)))
  return traitScores

In [87]:
def tournamentScore(traitsData):
    tokenIdColumn = traitsData['Token Id']
    
    try:
        traitsData = traitsData.draop('Token ID', axis=1)
    except:
        pass 
    
    traitsData = traitsData.drop('Token Id', axis=1)
        
    traitsData = traitsData.replace(np.nan, "None")
    tokenNumber = len(traitsData)
    rarityValues = {}
    
    for label in traitsData.columns:
        print('------------'+label+'------------\n\n')
        scores = []
        scoresLabels = traitsData[label].value_counts().index.tolist()
        traitsCount = traitsData[label].value_counts()
        
        for i in range(len(traitsCount)):
            scoresForI = []
            if len(traitsCount) == 1:
                  scoresForI.append(0)
            for j in range(len(traitsCount)):

                if i != j:
                    scoresForI.append(traitsCount[j] / (traitsCount[i] + traitsCount[j]))
            scoresForI = np.array(scoresForI)
            scores.append(np.average(scoresForI))
#             display(pd.DataFrame(scores))
        normalization = np.sum(np.multiply(scores, traitsCount)) / np.sum(traitsCount)
        print(normalization)
        if normalization != 0:
            scores /= normalization
        rarityValues[label] = traitsData[label].map(dict(zip(scoresLabels, scores)))
    
    rarityScores = pd.DataFrame(rarityValues)
    rarityScores['Rarity score'] = rarityScores.sum(axis="columns")
    rarityScores['Token Id'] = tokenIdColumn
    return rarityScores

In [89]:
tournamentScore(data).sort_values('Rarity score', ascending=False).head(52)

------------color------------


0.2646078431372549
------------shape------------


0.26707866904337496

       color     shape  Rarity score  Token Id
99  0.074102  3.670065      3.744167       100
26  1.925898  0.963307      2.889205        27
28  1.925898  0.963307      2.889205        29
29  1.925898  0.963307      2.889205        30
30  1.925898  0.963307      2.889205        31
31  1.925898  0.963307      2.889205        32
32  1.925898  0.963307      2.889205        33
33  1.925898  0.963307      2.889205        34
34  1.925898  0.963307      2.889205        35
35  1.925898  0.963307      2.889205        36
36  1.925898  0.963307      2.889205        37
37  1.925898  0.963307      2.889205        38
38  1.925898  0.963307      2.889205        39
39  1.925898  0.963307      2.889205        40
40  1.925898  0.963307      2.889205        41
41  1.925898  0.963307      2.889205        42
42  1.925898  0.963307      2.889205        43
43  1.925898  0.963307      2.889205        44
44  1.925898  0.963307      2.889205        45
45  1.925898  0.963307      2.889205        46
46  1.925898  0.963307      2.889205        47
47  1.925898  0.963307      2.889205        48
48  1.925898  0.963307      2.889205        49
49  1.925898  0.963307      2.889205        50
1   1.925898  0.963307      2.889205         2
27  1.925898  0.963307      2.889205        28
0   1.925898  0.963307      2.889205         1
25  1.925898  0.963307      2.889205        26
13  1.925898  0.963307      2.889205        14
2   1.925898  0.963307      2.889205         3
3   1.925898  0.963307      2.889205         4
4   1.925898  0.963307      2.889205         5
5   1.925898  0.963307      2.889205         6
6   1.925898  0.963307      2.889205         7
7   1.925898  0.963307      2.889205         8
9   1.925898  0.963307      2.889205        10
10  1.925898  0.963307      2.889205        11
11  1.925898  0.963307      2.889205        12
12  1.925898  0.963307      2.889205        13
8   1.925898  0.963307      2.889205         9
14  1.925898  0.963307      2.889205        15
20  1.925898  0.963307      2.889205        21
15  1.925898  0.963307      2.889205        16
23  1.925898  0.963307      2.889205        24
22  1.925898  0.963307      2.889205        23
21  1.925898  0.963307      2.889205        22
24  1.925898  0.963307      2.889205        25
19  1.925898  0.963307      2.889205        20
18  1.925898  0.963307      2.889205        19
17  1.925898  0.963307      2.889205        18
16  1.925898  0.963307      2.889205        17
87  0.074102  0.982951      1.057053        88

In [83]:
rarityToolsScore(data).sort_values('Rarity score', ascending=False).head(52)

,color rarity score,shape rarity score,Trait count rarity score,Rarity score,Token Id
0,100.0,2.000000,1.0,103.000000,1
26,100.0,2.000000,1.0,103.000000,27
28,100.0,2.000000,1.0,103.000000,29
29,100.0,2.000000,1.0,103.000000,30
30,100.0,2.000000,1.0,103.000000,31
31,100.0,2.000000,1.0,103.000000,32
32,100.0,2.000000,1.0,103.000000,33
33,100.0,2.000000,1.0,103.000000,34
34,100.0,2.000000,1.0,103.000000,35
35,100.0,2.000000,1.0,103.000000,36
36,100.0,2.000000,1.0,103.000000,37
37,100.0,2.000000,1.0,103.000000,38
38,100.0,2.000000,1.0,103.000000,39
39,100.0,2.000000,1.0,103.000000,40
40,100.0,2.000000,1.0,103.000000,41
41,100.0,2.000000,1.0,103.000000,42
42,100.0,2.000000,1.0,103.000000,43
43,100.0,2.000000,1.0,103.000000,44
44,100.0,2.000000,1.0,103.000000,45
45,100.0,2.000000,1.0,103.000000,46
46,100.0,2.000000,1.0,103.000000,47
47,100.0,2.000000,1.0,103.000000,48
48,100.0,2.000000,1.0,103.000000,49
49,100.0,2.000000,1.0,103.000000,50
1,100.0,2.000000,1.0,103.000000,2
27,100.0,2.000000,1.0,103.000000,28
99,2.0,100.000000,1.0,103.000000,100
25,100.0,2.000000,1.0,103.000000,26
13,100.0,2.000000,1.0,103.000000,14
2,100.0,2.000000,1.0,103.000000,3
3,100.0,2.000000,1.0,103.000000,4
4,100.0,2.000000,1.0,103.000000,5
5,100.0,2.000000,1.0,103.000000,6
6,100.0,2.000000,1.0,103.000000,7
7,100.0,2.000000,1.0,103.000000,8
9,100.0,2.000000,1.0,103.000000,10
10,100.0,2.000000,1.0,103.000000,11
11,100.0,2.000000,1.0,103.000000,12
12,100.0,2.000000,1.0,103.000000,13
8,100.0,2.000000,1.0,103.000000,9
14,100.0,2.000000,1.0,103.000000,15
20,100.0,2.000000,1.0,103.000000,21
15,100.0,2.000000,1.0,103.000000,16
23,100.0,2.000000,1.0,103.000000,24
22,100.0,2.000000,1.0,103.000000,23
21,100.0,2.000000,1.0,103.000000,22
24,100.0,2.000000,1.0,103.000000,25
19,100.0,2.000000,1.0,103.000000,20
18,100.0,2.000000,1.0,103.000000,19
17,100.0,2.000000,1.0,103.000000,18
16,100.0,2.000000,1.0,103.000000,17
87,2.0,2.040816,1.0,5.040816,88

In [78]:
 openRarityScore(data)

4.892648366158272

,color information value,shape information value,Trait count information value,Unique,Rarity score,Token Id
0,1.357926,0.204388,0.0,1,2.562315,1
1,1.357926,0.204388,0.0,1,2.562315,2
2,1.357926,0.204388,0.0,1,2.562315,3
3,1.357926,0.204388,0.0,1,2.562315,4
4,1.357926,0.204388,0.0,1,2.562315,5
...,...,...,...,...,...,...
95,0.204388,0.210345,0.0,0,0.414734,96
96,0.204388,0.210345,0.0,0,0.414734,97
97,0.204388,0.210345,0.0,0,0.414734,98
98,0.204388,0.210345,0.0,0,0.414734,99
99,0.204388,1.357926,0.0,1,2.562315,100

In [13]:
a.sort_values('Rarity score', ascending=False).head(51)

,color information value,shape information value,Trait count information value,Unique,Rarity score,Token Id
0,0.066439,0.504282,0.0,1,1.570720,51
25,0.066439,0.504282,0.0,1,1.570720,76
27,0.066439,0.504282,0.0,1,1.570720,78
28,0.066439,0.504282,0.0,1,1.570720,79
29,0.066439,0.504282,0.0,1,1.570720,80
30,0.066439,0.504282,0.0,1,1.570720,81
31,0.066439,0.504282,0.0,1,1.570720,82
32,0.066439,0.504282,0.0,1,1.570720,83
33,0.066439,0.504282,0.0,1,1.570720,84
34,0.066439,0.504282,0.0,1,1.570720,85
35,0.066439,0.504282,0.0,1,1.570720,86
36,0.066439,0.504282,0.0,1,1.570720,87
37,0.066439,0.504282,0.0,1,1.570720,88
38,0.066439,0.504282,0.0,1,1.570720,89
39,0.066439,0.504282,0.0,1,1.570720,90
40,0.066439,0.504282,0.0,1,1.570720,91
41,0.066439,0.504282,0.0,1,1.570720,92
42,0.066439,0.504282,0.0,1,1.570720,93
43,0.066439,0.504282,0.0,1,1.570720,94
44,0.066439,0.504282,0.0,1,1.570720,95
45,0.066439,0.504282,0.0,1,1.570720,96
46,0.066439,0.504282,0.0,1,1.570720,97
47,0.066439,0.504282,0.0,1,1.570720,98
26,0.066439,0.504282,0.0,1,1.570720,77
24,0.066439,0.504282,0.0,1,1.570720,75
1,0.066439,0.504282,0.0,1,1.570720,52
23,0.066439,0.504282,0.0,1,1.570720,74
2,0.066439,0.504282,0.0,1,1.570720,53
3,0.066439,0.504282,0.0,1,1.570720,54
4,0.066439,0.504282,0.0,1,1.570720,55
5,0.066439,0.504282,0.0,1,1.570720,56
6,0.066439,0.504282,0.0,1,1.570720,57
7,0.066439,0.504282,0.0,1,1.570720,58
8,0.066439,0.504282,0.0,1,1.570720,59
9,0.066439,0.504282,0.0,1,1.570720,60
10,0.066439,0.504282,0.0,1,1.570720,61
11,0.066439,0.504282,0.0,1,1.570720,62
12,0.066439,0.504282,0.0,1,1.570720,63
13,0.066439,0.504282,0.0,1,1.570720,64
14,0.066439,0.504282,0.0,1,1.570720,65
15,0.066439,0.504282,0.0,1,1.570720,66
16,0.066439,0.504282,0.0,1,1.570720,67
17,0.066439,0.504282,0.0,1,1.570720,68
18,0.066439,0.504282,0.0,1,1.570720,69
19,0.066439,0.504282,0.0,1,1.570720,70
20,0.066439,0.504282,0.0,1,1.570720,71
21,0.066439,0.504282,0.0,1,1.570720,72
22,0.066439,0.504282,0.0,1,1.570720,73
48,0.066439,0.504282,0.0,1,1.570720,99
99,0.495430,0.066439,0.0,1,1.561868,100
49,0.495430,0.500000,0.0,0,0.995430,1

In [100]:
data

    color     shape  Token Id
0     151    square        51
1     152    square        52
2     153    square        53
3     154    square        54
4     155    square        55
..    ...       ...       ...
95  black    circle        47
96  black    circle        48
97  black    circle        49
98  black    circle        50
99  black  triangle       100

[100 rows x 3 columns]

In [5]:
color*50

['black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black',
 'black']